html
    head
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title 追梦游学
        script(src='libs/jquery.min.js')
        script(src='libs/thether/js/thether.min.js')
        script(src='libs/bootstrap/js/bootstrap.min.js')
        link(rel='stylesheet' href='libs/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet' href='libs/font-awesome/css/font-awesome.min.css')
    body
        nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
            a.navbar-brand(href='./index.html') 追梦游学
            div.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='./index.html') 首页
                    li.nav-item.active
                        a.nav-link(href='./about.html') 关于
                    li.nav-item.active
                        a.nav-link(href='./program.html') 游学项目
                    li.nav-item.active
                        a.nav-link(href='./video.html') 影片影像
                    li.nav-item.active
                        a.nav-link(href='./contactus.html') 联系我们