include _layout
div 纽约办公室
div 地址：XXXXXXXXXXXX
div 邮箱：XXXXXXXXXXXX
div 我想获得更多信息
table.table
    tbody
        tr
            td 姓名:
        tr
            td 学生本人
            td 家长
        tr
            td 联系电话:
        tr
            td 邮箱:
        tr
            td 微信:
        tr
            td 最佳联系时间:
        tr
            td 感兴趣的游学项目:
        tr
            td 追梦美东游学:
        tr
            td 佩斯语言文化夏令营: