include _layout
ul
    li
        h2 追梦美东游学夏令营
        p.
            行程特色
        p.
            阶段式游学：
        p.
            准备游学－阅读美国，跟着电影游美国，游学口语加油站
        p.
            参与游学－美国全真课堂，阅读俱乐部，旅行课堂，美国历史大篷车
        p.
            游学回顾－游学征文活动，免费留学规划服务，我的游学瞬间创意大赛
        p.
            美东常春藤大学游览及上课
        p.
            全程英文讲解学习
        p.
            行程参考
        p.
            pdf 格式点击进入
    li
        h2 追梦与佩斯大学合作英语与文化体验夏令营
        p.
            行程特色
        p.
            课程特色：
        p.
            任务式教学－学生的学习目标是要完成一个学习任务，例如，用英文制作一个旅游计划，在掌握所有需的语言文化技能后，学生要通过自己的创造力，语言应用能力，思考能力自主完成这个任务。
        p.
            因材施教－对学生进行免费语言评估。根据学生的年龄，语言能力，制定不同的学习计划和学习任务。
        p.
            真实生活体验与语言应用－学生有机会与美国学生和国际留学生进行语言交流。同时，学生也将走进社区，商场，饭馆等场所与美国居民及同龄人进行一对一的交流。
        p.
            文化特色：
        p.
            入住美国寄宿家庭－学生会入住美国寄宿家庭，与寄宿家庭同吃同住同玩，体验美国生活文化。寄宿家庭由佩斯大学挑选审核，并常年接待佩斯大学国际学生。
        p.
            文化课程－除英文课程外，佩斯大学专为中国学生设置美国文化历史课。
        p.
            纽约著名景点游览体验－在学习之余，学生将有机会游览走访纽约著名景点，博物馆，教育机构。
        p.
            行程参考
        p.
            pdf 格式点击进入